# ── Flutter ─────────────────────────
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub-cache/
build/
.flutter-*.png

# ── Android ─────────────────────────
/android/.gradle/
/android/local.properties
/android/**/build/
/android/app/**/*.iml
/android/gradlew
/android/gradlew.bat

# ── iOS ─────────────────────────────
/ios/Pods/
/ios/Runner.xcworkspace/
/ios/Runner.xcodeproj/project.xcworkspace/*
/ios/Flutter/Flutter.framework/
/ios/Flutter/Flutter.podspec
/ios/ServiceDefinitions.json
/.symlinks/
/Flutter/ephemeral/
/ios/*.xcuserstate
ios/**/*.pbxuser
ios/**/*.mode1v3
ios/**/*.mode2v3
ios/Podfile.lock

# ── Desktop IDEs ────────────────────
.vscode/
.idea/
/*.iml

# ── macOS/Linux/Windows ─────────────
.DS_Store
*.swp
Thumbs.db