# Flutter 기본
.dart_tool/
.packages
.pub-cache/
build/
flutter_*.png       # VS Code 등이 생성하는 스크린샷
pubspec.lock

# Android
/android/.gradle/
/android/local.properties
/android/**/build/
/android/app/**/*.iml
/android/gradlew
/android/gradlew.bat
/android/gradle/
/android/gradle.properties

# iOS
/ios/Pods/
/ios/Runner.xcworkspace/
/ios/Flutter/Flutter.framework/
/ios/Flutter/Flutter.podspec
/ios/ServiceDefinitions.json
/.symlinks/
/Flutter/ephemeral/
/ios/*.xcuserstate
ios/**/*.pbxuser
ios/**/*.mode1v3
ios/**/*.mode2v3

# IDE 설정 파일
.vscode/
.idea/
/*.iml

# macOS, Linux
*.DS_Store
*.swp