# ┏━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━
# ┃ Flutter / Dart
# ┗━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub/
build/
.flutter_build/
*.snapshot

# 환경변수 설정 파일 (API Key 등)
.env
*.env

# ┏━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━
# ┃ Android
# ┗━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━
# Gradle 캐시
android/.gradle/
android/gradle/
**/gradle-wrapper.jar

# 로컬 SDK 경로 설정
android/local.properties

# 안드로이드 빌드 산출물
android/app/build/
android/build/

# IntelliJ / Android Studio 설정
*.iml
.idea/
*.ipr
*.iws
.gradle/
.cxx/

# ┏━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━
# ┃ iOS
# ┗━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━
# Xcode 빌드 산출물
ios/Pods/
ios/Flutter/Flutter.framework
ios/Flutter/Flutter.podspec
ios/Runner.xcworkspace/
ios/Runner.xcodeproj/xcuserdata/
ios/build/
DerivedData/

# CocoaPods
Podfile.lock

# ┏━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━
# ┃ VS Code
# ┗━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━
.vscode/

# ┏━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━
# ┃ macOS / Linux / Windows 공통
# ┗━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━
.DS_Store
.idea/
Thumbs.db
*.log